<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EXA</title>
    <link rel="stylesheet" href="static/css/topnav.css">
    <link rel="stylesheet" href="static/css/index.css">
</head>
<body>
    <div class="topnav">
        <div class="top">
            <img onclick="location.href='/'" class="logo" src="static/img/EXA_logo.png" />
            <div class="menus">
                <a href="/product" class="menu">Product</a>
                <a href="/about" class="menu">About Us</a>
                <a href="/careers" class="menu">Careers</a>
                <a href="/notice" class="menu">Notice</a>
            </div>
            <input type="button" value="Contact" onclick="location.href='/contact'">
        </div>
    </div>
    <div class="landing">
        <h1>Making Future for Everyone</h1>
    </div>
    <div class="section">
        <div class="project">
            <span>Project 1</span>
            <h1>File Sharing Platform</h1>
            <div class="description">
                <img src="static/img/Project1/1.png">
                <div class="repim">
                    <img src="static/img/Project1/AppXchange_logo.jpg">
                    <h1>App Store for New Developers</h1>
                    <span>AppXchange is a 3rd-party App Store where all developers can upload their programs for free.<br>It also provides a file sharing function, allowing you to send and receive files easily and quickly.</span>
                    <center><br><input type="button" value="Quotation Contact" onclick="location.href='/qcontact/1'"></center>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="project">
            <span>Project 2</span>
            <h1>Video Conference System</h1>
            <div class="description">
                <img src="static/img/Project2/1.png">
                <div class="repim">
                    <img src="static/img/Project2/exa_consys.png">
                    <h1>Free Video Conference System for Companies</h1>
                    <span>EXA ConSys, short for EXA Conference System, is a video conferencing platform that is completely free for all teams and companies to use.</span>
                    <center><br><input type="button" value="Quotation Contact" onclick="location.href='/qcontact/2'"></center>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="project">
            <span>Coverages</span>
            <h1>Going beyond Companies to Schools</h1>
            <div class="description">
                <div class="card">
                    <img src="static/img/Coverages/companies.jpg">
                    <h2>Companies</h2>
                </div>
                <div class="card">
                    <img src="static/img/Coverages/schools.png">
                    <h2>Schools</h2>
                </div>
                <div class="card">
                    <img src="static/img/Coverages/academies.png">
                    <h2>Academies</h2>
                </div>
                <div class="card">
                    <img src="static/img/Coverages/hotels.png">
                    <h2>Hotels</h2>
                </div>
                <div class="card">
                    <img src="static/img/Coverages/hospitals.png">
                    <h2>Hospitals</h2>
                </div>
            </div>
            <center><br><input type="button" value="Quotation Contact" onclick="location.href='/qcontact/2'"></center>
        </div>

        <div class="footer">
            <h1></h1>
        </div>
    </div>
    <script>
        let scrolling = false;

        document.body.addEventListener('wheel', event => {
        if (scrolling) return;
        scrolling = true;
        setTimeout(() => scrolling = false, 400);
        event.preventDefault();
        const viewportHeight = window.innerHeight;
        if (event.deltaY > 0) {
            window.scrollTo({
            top: window.pageYOffset + viewportHeight,
            behavior: 'smooth'
            });
        } else {
            window.scrollTo({
            top: window.pageYOffset - viewportHeight,
            behavior: 'smooth'
            });
        }
        }, { passive: false });

    </script>
</body>
</html>